# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints

# Data files
*.csv
*.xlsx
*.pkl


# Environments
.env
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Ignore all CSV files
*.csv

# But do NOT ignore these two CSVs
!notebooks/publisher_article_counts.csv
!notebooks/articles_per_day.csv


